@{
    ViewBag.Title = "Se ha restablecido la contraseña";
    ViewBag.PrimerNivel = "usuarios";
    ViewBag.SegundoNivel = "usuarios";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        La contraseña ha sido restablecida.
    </p>
</div>