
@model Portal_2_0.Models.inspeccion_categoria_fallas

@{
    ViewBag.Title = "ReporteGrafica1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PrimerNivel = "orden_trabajo";
    ViewBag.SegundoNivel = "ReporteGrafica1";
    ViewBag.ControllerName = "OrdenesTrabajo";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Reportes <small></small></h3>
            </div>

        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>B&uacute;squeda</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="form-group">
                            @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                            {

                                <div class="form-group row ">

                                    <label class="control-label col-md-1 col-sm-1" for="fecha_inicial" style="text-align:right">Fecha Inicial:</label>
                                    <div class="col-md-3 col-sm-3">
                                        <input type="date" class="form-control" name="fecha_inicial" id="fecha_inicial" value="">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1" for="fecha_final" style="text-align:right">Fecha Final:</label>
                                    <div class="col-md-3 col-sm-3">
                                        <input type="date" class="form-control" name="fecha_final" id="fecha_final" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-11">
                                        <a href="@Url.Action("ReporteGrafica1", ViewBag.ControllerName)" class="btn btn-warning" title="Restablecer">
                                            <i class="fa fa-refresh"></i> Restablecer
                                        </a>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <input type="submit" value="Filtrar" class="btn btn-info float-right" />
                                    </div>
                                </div>


                            }

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Estatus por responsable</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content table-responsive">

                        <div id="grafica1" style="height:450px;"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/echarts/echarts.js"))
    @Scripts.Render(Url.Content("~/Scripts/Forms/ThemeEcharts.js"))
    <script>

        $(document).ready(function () {

        });

        function CargarGrafica() {


            var chartDom = document.getElementById('grafica1');
            var myChart = echarts.init(chartDom, getTheme());
            var option;

            $.ajax({
                type: "post",
                async: true,
                url: '/ECharts/GetChartDemo',
                dataType: "json",
                success: function (result) {
                    console.log(result);

                    console.log(JSON.stringify(result.num));
                    var objsx = [];
                    var objsy = [];
                    
                    for (var i = 0; i < result.name.length; i++) {
                        objsx[i] = JSON.stringify(result.name[i]);//Receiving strings as JSON
                    }
                    
                    var myChart = echarts.init(document.getElementById('grafica1'));
                    option = {
                        title: {
                            text: 'Estatus por responsable',
                            subtext: 'Información del AAAA/MM/DD al AAAA/MM/DD'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {

                        },
                        toolbox: {
                            show: true,
                            feature: {
                                magicType: {
                                    show: true,
                                    title: {
                                        line: 'Lineas',
                                        bar: 'Barras',
                                        stack: 'Stack',
                                        tiled: 'Tiled'
                                    },
                                    type: ['line', 'bar', 'stack', 'tiled']
                                },
                                dataView: {
                                    show: true,
                                    title: "Datos",
                                    lang: [
                                        "Datos",
                                        "Cerrar",
                                        "Actualizar",
                                    ],
                                    readOnly: false
                                },
                                restore: {
                                    show: true,
                                    title: "Restablecer"
                                },
                                saveAsImage: {
                                    show: true,
                                    title: "Guardar"
                                }
                            }
                        },
                        calculable: true,
                        dataset: {
                            dimensions: result.name,
                            source: result.num
                        },
                        xAxis: { type: 'category' },
                        yAxis: {},
                        // Declare several bar series, each will be mapped
                        // to a column of dataset.source by default.
                        series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
                    };

                    // Use the configuration items and data just specified to display the chart.
                    myChart.setOption(option);


                },
                error: function (errorMsg) {
                    //Execute this function when the request fails
                    alert("Failed to request data!");
                    myChart.hideLoading();
                }

            });

           
            //option && myChart.setOption(option);
        }

        window.onload = function () {
            clicMenu(1);
            CargarGrafica();
        }

    </script>
}