<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <tr style=" background-color: #009ff5; color: azure;">
        <th>#1</th>
        <th>Actividad</th>
        <th>Fuente</th>
        <th>Fase</th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            De acuerdo al pasaporte, validar que se haya llenado de forma correcta los formatos que aplican
        </td>
        <td>
            * Hojas Creacion Referencia
            * Lista técnica
            * Formato Compra
        </td>
        <td nowrap>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Crear Materiales
        </td>
        <td>
            Creacion Referencia
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            Cambiar lo requerido de acuerdo a lo que lleno en el formato
        </td>
        <td>
            SAP MM02
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            Seguir los pasos indicados en los botones
        </td>
        <td>
            Materiales-Extension
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            Seguir los pasos indicados en los botones
        </td>
        <td>
            Materiales-WH-StgT
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            Seguir los pasos indicados en los botones
        </td>
        <td>
            Estatus
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            Asignar Tareas
        </td>
        <td>
            SCDM_Inicio
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td>
            Confirmar actividad "SCDM_Inicio"
        </td>
        <td>
            SCDM-tkmm (Complemento)
        </td>
        <td>
            P0D0 - P1D1
        </td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td>
            Cargar datos de disposición
        </td>
        <td>
            Disposición
        </td>
        <td>
            P1D1 - P2D1
        </td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td>
            Revisar DARs
        </td>
        <td>
            "N/A - SAP (MAPL-Q/MAST/MKAL/EKPO)
            CM: Rollo debe estar el costing relevance = BLANK, Cinta|Platina= X
            SC= BLANK
            SM = X"
        </td>
        <td>
            P1D1 - P2D1
        </td>
    </tr>
    <tr>
        <td>
            11
        </td>
        <td>
            Seguir los pasos indicados en los botones
        </td>
        <td>
            Estatus
        </td>
        <td>
            P1D1 - P2D1
        </td>
    </tr>
    <tr>
        <td>
            12
        </td>
        <td>
            Confirmar actividad "SCDM_Medio"
        </td>
        <td>
            SCDM-tkmm (Complemento)
        </td>
        <td>
            P1D1 - P2D1
        </td>
    </tr>
    <tr>
        <td>
            13
        </td>
        <td>
            Revisar DARs
        </td>
        <td>
            SAP (MBEW, VBAK & VBAP)
        </td>
        <td>
            P2D1 - P3D2
        </td>
    </tr>
    <tr>
        <td>
            14
        </td>
        <td>
            Seguir los pasos indicados en los botones
        </td>
        <td>
            Estatus
        </td>
        <td>
            P2D1 - P3D2
        </td>
    </tr>
    <tr>
        <td>
            15
        </td>
        <td>
            Confirmar actividad "SCDM_Fin"
        </td>
        <td>
            SCDM-tkmm (Complemento)
        </td>
        <td>
            P2D1 - P3D2
        </td>
    </tr>
</table>