
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <link href="@Url.Content("~/Content/not-found.css")" rel="stylesheet">
        <div class="error-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="error-text">
                            <h1 class="error">404 Error </h1>
                            <h4>¡Lo sentimos! ¡La p&aacute;gina o recurso no pudo ser encontrado!</h4>
                            <p>Lo sentimos, pero la p&aacute;gina o el recurso que solicit&oacute; no existe, ha sido eliminado o cambio de nombre.</p>

                            <a href="@Url.Action( "Index", "Home")" class="btn btn-primary btn-round">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

