<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>thyssenkrupp Materials de M&eacute;xico S.A de C.V.</h3>
            </div>          
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Misi&oacute;n</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <p>
                                A través de la mejora continua de todos nuestros procesos, servicios, administración y nuestros recursos humanos, queremos ofrecer a la industria automotriz, productos y servicios con la máxima calidad en tiempo oportuno y así lograr el liderazgo en el mercado nacional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Visi&oacute;n</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <p>
                                Lograr el liderazgo a nivel nacional de la industria automotriz a través del compromiso personal y la responsabilidad de todos los que integramos thyssenkrupp Materials de México.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Valores</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="bs-example" data-example-id="simple-jumbotron">
                            <p>
                                Los valores más importantes en thyssenkrupp Materials de México deben permitir el desarrollo lleno del potencial de nuestros empleados y mantener un buen ambiente de trabajo poniendo énfasis en: SINCERIDAD, INTEGRIDAD, FIABILIDAD y CREDIBILIDAD.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>