.tooltipster-base.tooltipster-alt .tooltipster-box {
    background-color: lightyellow !important;
    border: 2px solid #009ff5 !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
    padding: 10px 15px !important;
}

.tooltipster-base.tooltipster-alt .tooltipster-content {
    color: #009ff5 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    text-align: left;
}
/*Borde de la flecha*/
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #009ff5 !important;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: lightyellow !important;
}
