@{
    Layout = null;

    ViewBag.Title = "Detalles";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bono de TPU</title>
    <style type="text/css">
        body {
            background-color: #000310
        }
        img {
            width: 70%;
            height: 80%;
           
            left: 15%;
            top: 10%;
            position: absolute;
        }
    </style>
</head>

<body>
    <img src="~/Content/images/vacaciones-simula.jpg" /> 
</body>
</html>