@using Microsoft.AspNet.Identity

<style>


    .btn-it-nuevo {
        position: relative;
        display: inline-block;
        /* opcional: deja un poco de espacio a la derecha/arriba */
        padding-right: 0.6rem;
        margin-bottom: 0px;
    }

    .nuevo-label {
        position: absolute;
        top: 0;
        right: -10px;
        transform: translate(0, -50%);
        font-size: 0.65rem;
        padding: 2px 6px;
        text-transform: uppercase;
        animation: pulse 1.8s ease-in-out infinite;
        /* opcional para que quede por encima */
        z-index: 10;
    }

    .btn-it-lime {
        background-color: #28a745;
        color: #ffffff;
        border: 1px solid #218838;
    }

        .btn-it-lime:hover {
            background-color: #218838;
        }

    .btn .badge {
        position: relative;
        top: -4px !important;
    }

</style>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars" style="color:#ddd"></i></a>
        </div>

        <div style="float:left; padding:3px 0;">
            <a href="https://thyssenkruppmaterials.sharepoint.com/sites/tkmaterialsmexico-tkmm/manualesit/Documentos%20compartidos/Forms/AllItems.aspx"
               target="_blank"
               class="btn btn-success btn-it-lime  btn-it-nuevo" >
                <i class="fa fa-book"></i> Manuales IT
                <span class="badge badge-danger nuevo-label">Nuevo</span>
            </a>
        </div>

        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {


                        @Html.AntiForgeryToken()


                        <li class="nav-item dropdown open" style="padding-left: 15px;">
                            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> Bienvenido, @User.Identity.GetUserName()
                            </a>
                            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "Manage")"><i style="color:dimgrey" class="fa fa-user pull-right"></i> Mi usuario</a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i style="color:red" class="fa fa-sign-out pull-right"></i> Cerrar Sesi&oacute;n</a>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success my-2 my-sm-0" })</li>
                }

            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
